<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="fileService" class="org.bigmouth.ticket4jweb.commons.FileService"></bean>

	<bean id="sessionService" class="org.bigmouth.ticket4jweb.ticket.service.SessionService">
		<property name="user" ref="user" />
		<property name="passCode" ref="passCode" />
	</bean>
	<bean id="orderService" class="org.bigmouth.ticket4jweb.ticket.service.OrderService">
		<property name="order" ref="order" />
	</bean>

	<bean class="org.bigmouth.ticket4jweb.ticket.process.SessionProcessFactory" init-method="init" destroy-method="destroy">
		<constructor-arg ref="sessionService" />
		<constructor-arg ref="user" />
		<property name="webSocketFactory" ref="webSocketFactory" />
	</bean>

	<bean id="orderProcessFactory" class="org.bigmouth.ticket4jweb.ticket.process.OrderProcessFactory"
		init-method="init" destroy-method="destroy">
		<constructor-arg ref="orderService" />
		<constructor-arg ref="sessionService" />
		<constructor-arg ref="notificationService" />
		<property name="ticket" ref="ticket" />
		<property name="order" ref="order" />
		<property name="passCode" ref="passCode" />
		<property name="antiUtils" ref="anti" />
		<property name="ticketReport" ref="ticketReport" />
		<property name="webSocketFactory" ref="webSocketFactory" />
	</bean>
	
	
	<bean id="notificationService" class="org.bigmouth.ticket4jweb.ticket.service.NotificationService">
		<property name="sendUrl" value="${email.sender.url}" />
	</bean>

	<bean id="ticket4jDNSChecker" class="org.bigmouth.ticket4j.http.Ticket4jDNSChecker"
		init-method="init" destroy-method="destroy">
		<constructor-arg ref="ticket4jHttpClient" />
		<property name="uri" value="${uri}" />
		<property name="urlDnsResource" value="${dns.resource.remote.address}" />
		<property name="sleepTime" value="${dns.check.loop.sleep.time}" />
	</bean>

	<bean id="ticketReport" class="org.bigmouth.ticket4j.report.TicketReport"
		init-method="init" destroy-method="destroy" />

	<bean id="ticket4jHttpClient" class="org.bigmouth.ticket4j.http.Ticket4jHttpClient">
		<property name="host" value="${http.host}" />
		<property name="port" value="${http.port}" />
		<property name="timeout" value="${http.timeout}" />
		<property name="dnsDistributeType" value="${dns.distribute.type}" />
		<property name="allRequestSwitch" value="${dns.all.request.switch}" />
	</bean>

	<bean id="initialize" class="org.bigmouth.ticket4j.impl.DefaultInitialize">
		<constructor-arg ref="ticket4jHttpClient" />
		<property name="uriInit" value="${uri.init}" />
	</bean>

	<bean id="passCode" class="org.bigmouth.ticket4j.impl.DefaultPassCode">
		<constructor-arg ref="ticket4jHttpClient" />
		<property name="imgDir" value="images/" />
		<property name="uriGetLoginPassCode" value="${uri.login.passcode}" />
		<property name="uriGetOrderPassCode" value="${uri.order.passcode}" />
		<property name="uriCheckPassCode" value="${uri.check.passcode}" />
	</bean>

	<bean id="user" class="org.bigmouth.ticket4j.impl.DefaultUser">
		<constructor-arg ref="ticket4jHttpClient" />
		<property name="uriLogin" value="${uri.login}" />
		<property name="uriCheckUser" value="${uri.check.user}" />
		<property name="uriPassengersQuery" value="${uri.passengers.query}" />
	</bean>

	<bean id="ticket" class="org.bigmouth.ticket4j.impl.DefaultTicket">
		<constructor-arg ref="ticket4jHttpClient" />
		<property name="uriQueryTicketAddrs" value="${uri.query.addrs}" />
	</bean>

	<bean id="order" class="org.bigmouth.ticket4j.impl.DefaultOrder">
		<constructor-arg ref="ticket4jHttpClient" />
		<property name="uriSubmitOrder" value="${uri.submit.order}" />
		<property name="uriInitDc" value="${uri.init.dc}" />
		<property name="uriCheckOrderInfo" value="${uri.check.order}" />
		<property name="uriGetQueueCount" value="${uri.queue.count}" />
		<property name="uriConfirmSingleForQueue" value="${uri.confirm.single.queue}" />
		<property name="uriQueryNoComplete" value="${uri.query.no.complete}" />
		<property name="uriQueryOrderWaitTime" value="${uri.query.order.waitTime}" />
	</bean>

	<bean id="cookieCache" class="org.bigmouth.ticket4j.cookie.DefaultCookieCache" />

	<bean id="anti" class="org.bigmouth.ticket4j.utils.AntiUtils"
		init-method="initialize" destroy-method="destroy">
		<constructor-arg value="classpath:dll/AntiVC.dll" />
		<constructor-arg value="classpath:dll/OCR.dll" />
	</bean>
</beans>